<div data-controller="sidebar-l">

  <%# create button %>
  <button data-action="click->sidebar-l#createBtnDropdown" class="t-btn-outline mt-5">
      <svg class="t-hover-white mx-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
        <path id="mini_plus" d="M44,743H41v-3a1,1,0,0,0-2,0v3H36a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0v-3h3a1,1,0,0,0,0-2Z" transform="translate(-35 -739)"/>
      </svg>
    <h5 class="text-sm">Create</h5>
  </button>

  <%# create button dropdown %>
  <div data-sidebar-l-target="dropdownCreate" class="t-dropdown w-48 hidden">
    <%= link_to 'Workflow', workflows_path, method: 'post',
    class: "t-dropdown-btn" %>
    <button data-action="click->world#createWorkflow" class="block w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
      Workflow but with AJAX
    </button>
  </div>

  <%# tab %>
  <div class="flex gap-4 my-5">
    <%= link_to "My Tasks #{ "(#{current_user.my_tasks.length})" unless current_user.my_tasks.empty?}", current_path, class: 't-tab-active' %>
    <%= link_to 'Workflows', dashboard_path, class: 't-tab' %>
  </div>

  <%# search bar form to search within tab %>
  <form action="" class="flex gap-2 justify-center py-2 border-b">
    <button type="submit">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
          <path id="ic24-search" d="M11,2a9,9,0,0,1,7.032,14.617l3.675,3.676a1,1,0,0,1-1.32,1.5l-.094-.083-3.676-3.675A9,9,0,1,1,11,2Zm0,2a7,7,0,1,0,7,7A7,7,0,0,0,11,4Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
        </svg>
      </div>
    </button>

    <input type="search" placeholder="Tasks" class="t-input-invis flex-grow">
  </form>

  <%# task tabs list %>
  <div class="mt-4 h-96 overflow-scroll">

    <div>To do</div>
    <%= render 'my_tasks/tasks_tabs', tasks: @my_tasks %>

    <div class="pt-6">Completed</div>
    <%= render 'my_tasks/tasks_tabs', tasks: @completed_tasks %>
  </div>

</div>
