<div class="flex">

  <div class="w-72 p-5 shadow-lg fixed h-screen bg-gray-800 rounded-r-xl">
    <%= link_to current_path, class: 'h-6' do %>
      <%= image_tag 'Taskete_logo_white.png', class: 'h-6' %>
    <% end %>
    <%= render "my_tasks/my_tasks_l" %>
  </div>
  <%# <div class="w-72"></div> ghost sidebar to push content %>


  <div class="main-content w-3/4 pt-4 pl-10">
    <div id="mytask-content">
      <% if @task %>
        <%= render partial: 'my_tasks/my_task_content', locals: { task: @task, next_task: @next_task } %>
      <% end %>

    </div>
  </div>


  <div class="w-1/4 pt-2 px-5">
    <%= render 'shared/sidebar_r' %>
  </div>

</div>
