<%# Description section %>
<h4 class="w-full mt-1" data-toggle-target="taskDescription"><%= task.description %></h4>

<input class="mt-1 w-full hidden bg-indigo-100 rounded-xl" form="task-edit" type="text" data-toggle-target="changeDescriptionInput" placeholder=<%= task.description %>><br>

<div class="flex">
  <%# Items section %>
  <div class="flex-grow pr-4 flex flex-col">
    <ul class="flex-grow" data-item-target="list" data-controller="drag" data-drag-url="/items/:id/move" >
      <% items.order(position: :asc).each do |item| %>
        <li data-item-id="<%= item.id %>" data-task-id="<%= @task.id %>">
          <%= render partial: 'items/item', locals: { item: item, workflow: @workflow, task: @task  } %>
        </li>
      <% end %>
    </ul>

    <% if !workflow.activated? %>
      <%= render partial: 'items/itemadd', locals: {task_id: task.id, workflow: workflow} %>
    <% end %>
  </div>

  <%# Members Section %>
  <div class="border-l w-40 px-3 pt-2 flex flex-col">
    <ul data-toggle-target="taskmemberslist" class="flex-grow">
      <%= render partial: 'tasks/task_members', locals: {task_members: @task_members} %>
    </ul>

    <% if !workflow.activated? %>
      <%= render partial: 'members/add_member', locals: {task: task} %>
    <% end %>
  </div>
</div>

