
<div data-task-id=<%= task.id %> data-workflow-id=<%= workflow.id %> data-controller="item toggle notification">
  <div class="t-card p-4 mb-2 mx-6 <%= task.current? ? "border-indigo-600 border-2" : "border" %>">
    <div class="flex justify-between">

      <button class="text-lg flex-grow text-left" data-action="click->item#getItems click->toggle#toggleHideTitleForm" data-toggle-target="taskTitle">
        <%= task.title %>
      </button>

      <%# Task title form %>
      <div class="flex-grow flex justify-between items-center hidden" data-toggle-target="taskTitleForm">

        <%= simple_form_for task, method: 'PATCH', namespace: task.id do |f| %>
          <%= f.input :title,
                      label: false,
                      input_html: {class: "w-full text-lg bg-transparent outline-none",
                                  autocomplete: "off"
                      },
                      autofocus: true %>
        <% end %>

      </div>


      <button class='inline-block text-xs text-green-400 text-xs cursor-default <%= 'hidden' unless task.completed? %>'>
        <i class="fas fa-check text-xs"></i>&nbsp;Completed
      </button>

      <% if task.current? %>
        <button data-action="click->task#markComplete" class='<%= 'hidden' unless task.workflow.activated? %> inline-block text-gray-700 text-xs' data-task-id=<%= task.id %>>
          <i class="far fa-check-square"></i>&nbsp;Mark as complete
        </button>
      <% end %>

    </div>


    <%# this holds/inserts task_content %>
    <div class="relative hidden" data-item-target="taskcontent" data-toggle-target="hide" >
    </div>

  </div>
  <div class="t-connector h-5"></div>
</div>
