<%# Title %>
<% if @workflow %>
  <div data-item-id=<%= @workflow.id%> class="flex justify-between items-center mb-3">
    <div class="flex items-center gap-2">

      <% if @workflow.activated? %>
        <div class="text-md font-medium rounded-lg py-2 px-4">
          <%= @workflow.title %>
        </div>
        <%= render partial: 'workflows/workflow_status', locals: {workflow: @workflow} %>

      <% else %>
        <div class="relative">
        <%= simple_form_for @workflow, method: 'PUT' do |f| %>
        <%= f.input :title,
                    label: false,
                    input_html: {class: "group relative text-md font-medium rounded-lg py-2 px-4 outline-none focus:bg-white focus:ring-1 focus:ring-indigo-600",
                                 autocomplete: "off"
                    },
                    autofocus: true,
                    data: { 'workflow-target': 'form'} %>
        <% end %>
                    <span class="absolute right-2 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->

              <svg class="h-4 w-4 fill-current text-gray-300 "xmlns="http://www.w3.org/2000/svg" width="15.984" height="16" viewBox="0 0 15.984 16">
                <path id="pen_1" d="M34.006,432a2,2,0,0,1-2-2v-2a2,2,0,0,1,.585-1.415l9.99-10a2,2,0,0,1,2.826,0l2,2a2,2,0,0,1,0,2.828l-9.99,10A2,2,0,0,1,36,432Zm0-4v2h2l7.786-7.794-2-2Zm11.2-7.207.792-.793-2-2-.792.793Z" transform="translate(-32.008 -416)"/>
              </svg>
            </span>
          </div>
        <div class="rounded-md bg-gray-100 py-1 px-2 text-sm text-gray-400">
          Editing
        </div>
      <% end %>

    </div>
    <div class="flex items-center gap-4">

      <% unless @workflow.activated? %>
        <%= link_to reset_workflow_path(@workflow) do %>
          <svg class="fill-current text-gray-300 hover:text-indigo-600 duration-100" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16.019 15.984">
            <path id="refresh_2" d="M362,709.012a1,1,0,0,0,1,1h4a1.006,1.006,0,0,0,1-1v-4a1,1,0,0,0-2,0v1.718a7.982,7.982,0,1,0,1.921,6.411,1,1,0,0,0-1-1.136,1,1,0,0,0-.984.857,6.016,6.016,0,1,1-1.48-4.853H363A1,1,0,0,0,362,709.012Z" transform="translate(-351.989 -704.017)"/>
          </svg>
        <% end %>
      <% end %>

      <% unless @workflow.activated? %>
        <%= link_to workflow_path(@workflow), method: 'DELETE' do %>
          <svg class="fill-current text-gray-300 mr-4 hover:text-indigo-600 duration-100" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path id="delete_1" d="M47,547H43a3,3,0,0,0-6,0H33a1,1,0,0,0,0,2h1v9a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2v-9h1a1,1,0,0,0,0-2Zm-7-1a1,1,0,0,1,1,1H39A1,1,0,0,1,40,546Zm4,12H36v-9h8Z" transform="translate(-32 -544)"/>
          </svg>
        <% end %>
      <% end %>
    </div>

  </div>
<% else %>
  <div class="h-12"></div>
<% end %>
