<%# Title %>
<% if @workflow %>
  <div data-item-id=<%= @workflow.id%> >
    <div class="flex items-center gap-2 mb-3">

      <% if @workflow.activated? %>
        <div class="text-sm rounded-xl bg-indigo-100 py-2 px-4">
          <%= @workflow.title %>
        </div>
        <%= render partial: 'workflows/workflow_status', locals: {workflow: @workflow} %>

      <% else %>

        <%= simple_form_for @workflow, method: 'PUT' do |f| %>
        <%= f.input :title,
                    label: false,
                    input_html: {class: "text-sm rounded-xl bg-indigo-100 py-2 px-4 outline-none focus:bg-white focus:ring-1 focus:ring-indigo-600",
                                 autocomplete: "off"
                    },
                    autofocus: true,
                    data: { 'workflow-target': 'form'} %>
        <% end %>
        <div class="rounded-md bg-gray-100 py-1 px-2 text-sm text-gray-400">
          Editing
        </div>

      <% end %>

    </div>
  </div>
<% else %>
  <div class="h-12"></div>
<% end %>
