<div data-controller="sidebar-l">

  <%# create button %>
  <button data-action="click->sidebar-l#createBtnDropdown" class="t-btn-outline mt-5">
      <svg class="t-hover-white mx-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
        <path id="mini_plus" d="M44,743H41v-3a1,1,0,0,0-2,0v3H36a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0v-3h3a1,1,0,0,0,0-2Z" transform="translate(-35 -739)"/>
      </svg>
    <h5 class="text-sm">Create</h5>
  </button>

  <%# create button dropdown %>
  <div data-sidebar-l-target="dropdownCreate" class="t-dropdown w-48 hidden">
    <%= link_to 'Workflow', workflows_path, method: 'post',
    class: "t-dropdown-btn" %>
    <button data-action="click->world#createWorkflow" class="block w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
      Workflow but with AJAX
    </button>
  </div>

  <%# nav tab %>
  <div class="flex gap-4 my-5">
    <%= link_to 'My Tasks', current_path, class: 't-tab' %>
    <%= link_to 'Workflows', dashboard_path, class: 't-tab-active' %>
  </div>

  <%# search bar form to search within tab %>
  <%= form_with url: workflows_path, class: "text-light border-b", method: :get do |f| %>

    <div class="search-bar">
      <button type="submit" class="input-l">
        <i class="fas fa-search"></i>
      </button>

      <%= f.text_field :query, class: "t-input-invis flex-grow", placeholder: "Workflows" %>
    </div>

  <% end %>

  <%# workflows tabs list %>
  <%= render 'shared/workflows_tabs', workflows: @workflows %>

</div>
