
<%# NAVBAR %>

<div class="absolute w-full z-10">

  <nav class="px-6 flex items-center justify-between h-10 mt-3">

    <%= link_to current_path, class: 'h-6' do %>
      <%= image_tag 'Taskete_logo_white.png', class: 'h-6' %>
    <% end %>

    <div class="block ml-10 pr-4 space-x-8">
      <a href="#product-section" class="font-medium text-white">Product</a>

      <a href="#features-section" class="font-medium text-white">Features</a>

      <a href="#team-section" class="font-medium text-white">Company</a>

      <%= link_to "Log in", new_user_session_path, class:"font-medium text-white px-5 py-2 border rounded-lg border-white bg-white bg-opacity-0 hover:bg-opacity-5" %>
    </div>

  </nav>

</div>

<%# HERO SECTION %>

<main id="product-section" class="relative h-screen bg-gradient-to-r from-indigo-900 via-indigo-700 to-pink-700 flex items-center">

    <div class="py-36 w-1/3 ml-40 z-20">
      <h1 class="text-7xl tracking-tight font-semibold text-white mb-6">
        Focus on the tasks that really matter
      </h1>

      <p class="mt-3 text-base text-indigo-200 pb-10">
        Skip the noise. Liberate your time. <br>Act only when you are required.
      </p>

      <%= link_to "Get started", new_user_registration_path, class:"text-white font-semibold px-8 py-3 bg-indigo-500 rounded-lg" %>

    </div>
    <%= image_tag 'hero-image.png', class: 'h-1/2 absolute bottom-12 right-12 z-9' %>

</main>

<%# FEATURES SECTION %>
<section class="bg-indigo-800">
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center">

    <div class="pr-18">
      <h1 class="text-white font-semibold text-3xl">
        Your story starts with us.
      </h1>
      <p class="mt-4 text-lg text-white">
        Taskete allows you to simplify tasks that require many human touch points through re-usable process flows.
      </p>
    </div>

  </div>

  <section class="pb-10 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Smooth Workflows</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Never worry about blockages in your working pipeline again.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Elegant UI</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Keeping things simple for anyone to use seamlessly.
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-pink-400">
                <i class="fas fa-envelope-open-text"></i>
              </div>
              <h6 class="text-xl font-semibold">Process Sharing</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Get your team on the same page with automatic notifications.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<%# MEMBERS SECTION %>
<section id="team-section" class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
      <%= image_tag 'Taskete_logo.png', class: 'h-12 block ml-auto mr-auto mb-8' %>

      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
          Check our awesome team members
      </h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "profiles/daniel.jpg", class: 'object-center object-cover rounded-full h-36 w-36' %>          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Daniel Teo</p>
              <p class="text-base text-gray-400 font-normal">Fullstack Developer</p>
          </div>
      </div>

      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "profiles/ethan.jpg", class: 'object-right object-cover rounded-full h-36 w-36' %>
          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Ethan Pay</p>
              <p class="text-base text-gray-400 font-normal">Fuller-Stackier Developer</p>
          </div>
      </div>

      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "profiles/royce.jpg", class: 'object-center object-cover rounded-full h-36 w-36' %>
          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Royce</p>
              <p class="text-base text-gray-400 font-normal">Fullest-Stackiest Developer</p>
          </div>
      </div>
  </div>
</section>

<footer>
  <div id="landing-page-footer" class="text-center" background>
    <div class="flex items-center justify-center pt-20">
        <a href="#">
          <i class="fab fa-facebook-square text-3xl text-white p-4"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram text-3xl text-white p-4"></i>
        </a>
        <a href="#">
          <i class="fab fa-linkedin text-3xl text-white p-4"></i>
        </a>
    </div>
  </div>
</footer>
