<%# HERO SECTION %>
<div class="relative bg-white overflow-hidden h-screen">
  <div class="max-w-7xl mx-auto">
    <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
      <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>

      <div>
        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
              <div class="flex items-center justify-between w-full md:w-auto">
                <%= link_to current_path, class: 'h-6' do %>
                  <%= image_tag 'Taskete_logo.png', class: 'h-6' %>
                <% end %>
                <div class="-mr-2 flex items-center md:hidden">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
              <a href="#product-section" class="font-medium text-gray-500 hover:text-gray-900">Product</a>

              <a href="#features-section" class="font-medium text-gray-500 hover:text-gray-900">Features</a>

              <a href="#team-section" class="font-medium text-gray-500 hover:text-gray-900">Company</a>

              <%= link_to "Log in", new_user_session_path, class:"font-medium text-indigo-600 hover:text-indigo-500" %>
            </div>
          </nav>
        </div>

        <!--
          Mobile menu, show/hide based on menu open state.

          Entering: "duration-150 ease-out"
            From: "opacity-0 scale-95"
            To: "opacity-100 scale-100"
          Leaving: "duration-100 ease-in"
            From: "opacity-100 scale-100"
            To: "opacity-0 scale-95"
        -->
        <div class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
          <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
            <div class="px-5 pt-4 flex items-center justify-between">
              <%= link_to current_path, class: 'h-6' do %>
                <%= image_tag 'Taskete_logo.png', class: 'h-6' %>
              <% end %>
              <div class="-mr-2">
                <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                  <span class="sr-only">Close main menu</span>
                  <!-- Heroicon name: outline/x -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="px-2 pt-2 pb-3 space-y-1">
              <a href="#product-section" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Product</a>

              <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Features</a>

              <a href="#team-section" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Company</a>
            </div>
            <a href="/users/sign_in" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100">
              Log in
            </a>
          </div>
        </div>
      </div>

      <main id="product-section" class="mt-10 mx-auto max-w-7xl sm:mt-12 sm:px-6 md:mt-16 lg:mt-40 lg:pl-20">
        <div class="text-left">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">Taskete</span>
          </h1>
          <p class="mt-3 text-base text-gray-500 mx-0 text-xl">
            Help organising tasks!
          </p>
          <div class="mt-5 sm:mt-8 sm:flex justify-right">
            <div class="rounded-md shadow">
              <%= link_to "Get started", new_user_registration_path, class:"px-8 py-3 border border-transparent font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="h-56 w-full object-cover sm:h-72 md:h-3/4 object-left" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" alt="">
  </div>
</div>

<%# FEATURES SECTION %>
<section id="features-section" class="relative bg-blueGray-50">
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80');
      ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Your story starts with us.
            </h1>
            <p class="mt-4 text-lg text-white">
              Taskete allows you to simplify tasks that require many human touch points through re-usable process flows.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class="pb-10 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Smooth Workflows</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Never worry about blockages in your working pipeline again.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Elegant UI</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Keeping things simple for anyone to use seamlessly.
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-pink-400">
                <i class="fas fa-envelope-open-text"></i>
              </div>
              <h6 class="text-xl font-semibold">Process Sharing</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Get your team on the same page with automatic notifications.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<%# MEMBERS SECTION %>
<section id="team-section" class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
      <%= image_tag 'Taskete_logo.png', class: 'h-12 block ml-auto mr-auto' %>
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
          Check our awesome team members
      </h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "/assets/profiles/daniel.jpg", class: 'object-center object-cover rounded-full h-36 w-36' %>          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Daniel Teo</p>
              <p class="text-base text-gray-400 font-normal">Fullstack Developer</p>
          </div>
      </div>
      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "/assets/profiles/ethan.jpg", class: 'object-right object-cover rounded-full h-36 w-36' %>
          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Ethan Pay</p>
              <p class="text-base text-gray-400 font-normal">Fuller-Stackier Developer</p>
          </div>
      </div>
      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "/assets/profiles/royce.jpg", class: 'object-center object-cover rounded-full h-36 w-36' %>
          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Royce</p>
              <p class="text-base text-gray-400 font-normal">Fullest-Stackiest Developer</p>
          </div>
      </div>
  </div>
</section>

<footer>
  <div id="landing-page-footer" class="text-center" background>
    <div class="flex items-center justify-center pt-20">
        <a href="#">
          <i class="fab fa-facebook-square text-3xl text-white p-4"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram text-3xl text-white p-4"></i>
        </a>
        <a href="#">
          <i class="fab fa-linkedin text-3xl text-white p-4"></i>
        </a>
    </div>
  </div>
</footer>

